.sortable:hover {
    cursor: pointer;
    color: blue;
}

th[data-order='asc']::after
th[data-order='desc']::after {
    margin-left: 5px;
}

th[data-order='asc']::after {
    content: " \25b4";
}

th[data-order='desc']::after {
    content: " \25be";
}